My workflow 12 (1).json
{
  "name": "My workflow 12",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -112
      ],
      "id": "b450198b-0163-4956-834d-86796b643e2d",
      "name": "WhatsApp Trigger",
      "webhookId": "ae34c609-8324-4e24-83cb-b36ef9fefca8",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "CCdlqJDFN8gLJRrn",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = $json.messages?.[0]?.text?.body?.trim()?.toLowerCase();\nconst user_id = $json.messages?.[0]?.from;\n\n// Block empty messages\nif (!message || !user_id) {\n  return [];\n}\n\nreturn [{\n  json: {\n    user_id,\n    message,\n    isHi: message === \"hi\",\n    isStop: message === \"stop\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -112
      ],
      "id": "242a7916-a8a2-49b4-911a-c9a3137e6ac1",
      "name": "Code"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/15UQTecvHMCGHz3_l96qM_Y9pqimcIjqCbfyz9jslpAA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=user_id",
              "lookupValue": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        672,
        32
      ],
      "id": "b363647d-8edb-4ad6-bd46-b7b35d7dbcc8",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gpbz4YIooAaOJgC5",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1104,
        -80
      ],
      "id": "4dc7bd22-86d1-442d-acc7-cbc2d9102733",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Get current user_id from WhatsApp Trigger node\nconst currentUserId = $items(\"Code\")[0].json.user_id.toString();\n\n// Get all rows from the Sheet (via Get row(s) in sheet)\nconst sheetRows = $items(\"Get row(s) in sheet\");\n\n// Compare each row's user_id to the current one\nlet exists = false;\n\nfor (const row of sheetRows) {\n  const sheetUserId = row.json.user_id.toString();\n  if (sheetUserId === currentUserId) {\n    exists = true;\n    break;\n  }\n}\n\n// Return both user_id and exists flag\nreturn [{\n  json: {\n    user_id: currentUserId,\n    exists\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -80
      ],
      "id": "1d79fe01-c11d-4003-9f16-2d4b65584403",
      "name": "Code1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.exists }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "9a3e8bc7-4f1d-43a4-b1de-cdd0b4dacd86"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3755307a-ee7b-42dc-bbb1-5750e67ae7a5",
                    "leftValue": "={{ $json.exists }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1552,
        -80
      ],
      "id": "8c28058a-7a3f-4cba-80c4-b6671bc01193",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/762894796905015/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKIwfprnykBPBWFmVxNkYUdz0toZB9u9Iy01Vdj7p7dJ3mPjzZASbHeNLVPHZC6Rh5XZBF3SW2mHRirZBKOKpwfBrR2SNeh1guEWxZClqKZAsCaQDLlfPeaGln1TVfitxO33yP0tNGzNaZAkrRfRqe80W5izuTiZBcGwm1XjZCbmjuRU702aXKj6DtkZBigxJKp3QZAoFAuNohgNLols8kefe3x86AamVisF32P8FjCr3NAVAZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.user_id }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Hello, thank you for reaching out to us. How can I help you?\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        -96
      ],
      "id": "a7c22718-9fa4-4c1b-8ec0-17374adb33c6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/15UQTecvHMCGHz3_l96qM_Y9pqimcIjqCbfyz9jslpAA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_sent_day": "0",
            "user_id": "={{ $json.user_id }}",
            "start_date": "={{ new Date().toISOString().split(\"T\")[0] }}",
            "stopped": "false"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stopped",
              "displayName": "stopped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_sent_day",
              "displayName": "last_sent_day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1792,
        32
      ],
      "id": "cc2b6e2d-ab75-48af-a1ed-d7ec9a6ab25f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gpbz4YIooAaOJgC5",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isStop }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5ecbb578-2b5e-4301-9de6-409dc5aa458d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stop"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "06c92b6b-6171-4a5b-bb96-3c3a1ac880ee",
                    "leftValue": "={{ $json.isHi }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hi"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        448,
        -112
      ],
      "id": "260f122d-ab3f-4f76-8a06-81f633fd2471",
      "name": "Check HI or STOP"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/15UQTecvHMCGHz3_l96qM_Y9pqimcIjqCbfyz9jslpAA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "user_id",
              "lookupValue": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        688,
        -256
      ],
      "id": "a3806a8f-ffb4-4c11-877e-9a3ec0743751",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gpbz4YIooAaOJgC5",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/15UQTecvHMCGHz3_l96qM_Y9pqimcIjqCbfyz9jslpAA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "stopped": "true",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stopped",
              "displayName": "stopped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_sent_day",
              "displayName": "last_sent_day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        896,
        -256
      ],
      "id": "de83e087-b790-4cc7-a569-fe304af6b022",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gpbz4YIooAaOJgC5",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stopped.toString().toLowerCase() }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "52f8d644-a636-4563-b39c-5d0f8bcb4441"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        896,
        32
      ],
      "id": "20a62ae6-b5fb-486c-92c6-4f87f32e6330",
      "name": "Switch2"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Check HI or STOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check HI or STOP": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b19ae5fd-e0a5-4a52-858c-8791ee15700c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc3a980345ee53780666334fcb5875600f37fdae33d95950ac1bf8578b3148e3"
  },
  "id": "eMcQLNNquNZZgwe7",
  "tags": []
}